@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    min-height: 100vh;
    background-color: #091921;
}

h1{
    font-family: 'Sansita Swashed', cursive;
   color: white;
   text-align: center;
}
.h1 p{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;

}
.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
   display: grid;
   width: 60px;
   height: 60px;
   color: wheat;
   background-color: #0c2835;
   place-items: center;
   border: 1px solid rgba(0, 0,0, .1);
}
.calculator span:active{
  background-color: #74ff3d;
  color: #111;
}

.calculator span.clear{
  grid-column: span 2;
  width: 120px;
  background-color: #ff3077;
 }
 
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
   }
   .calculator span.equal{
    background-color: #03b1ff;
   }

